body{
  width: 1380px;
  height: 720;
  width: 99%;
  background-image: url(./images/marioBG.jpg);
  background-size: cover;
  padding: 0px;
  
  

}
#middleSection{
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  width: 35% ;
}

#leftSection {
  display: inline-block;
  width: 30%;
  height: 550px;
  background-color: transparent;

  border: 1px black solid;

}

#rightSection {
  display: inline-block;
  width: 30%;
  height: 550px;
  background-color: transparent;
  margin-right: 0px;
  border: 1px black solid;
}

#title  {
  font-family: 'MinecraftiaRegular';
  text-align: center;
  margin-top: 0px;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  color: white;
  margin-bottom: 5px;
}

#informacoes {
  width: 80px;
  height: 80px;
  background-color: transparent;
  position: absolute;
  left: 125px;
  top: 250px;
}

#informacoes:hover {
  cursor: pointer;
}

#paragrafo {
  width: 210px;
  background-color: black;
  color: white;
  font-family: 'MinecraftiaRegular';
  padding: 10px 10px 10px 10px;
}

#color-palette {
  margin: auto;
}

#inputColor {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  border: none;
  height: 27px;
  width: 134px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  bottom: 4px;
  left: 1px;
  position: relative;

}

.color {
  border: black solid 1px;
  height: 25px;
  width: 28px;
  display: inline-block;
  box-shadow: black 1px 1px 1px;
}

#black {
  background-color: rgb(0, 0, 0);
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#pixel-board {
  width: 340px;
  height: 340px;
  display: grid;
  border: 4px dashed black;
  margin: 0 auto;
}

#color-palette {
  width: 350px;
}

.pixel {
  background-color: grey;
  border: 1px black solid;
}

.buttonDiv {
  width: 300px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  margin: auto;
  margin-top: 10px;
}

.button {
  width: 54%;
  height: 40px;
  border: 3px solid black;
  box-shadow: black 2px 2px 2px;
  font-family: 'MinecraftiaRegular';
  font-weight: 400;
}

.button:hover {
  cursor: pointer;
  height: 45px;
  border-radius: 5px;
  font-size: 105%;
  box-shadow: black 0px 0px 0px;
}

#board-size {
  display: inline-block;
  width: 23%;
  height: 32px;
  text-align: center;
  font-size: 14px;
 
}

#generate-board {
  width: 20%;
  border: 3px solid black;
  color: rgb(26, 2, 2);
  padding: 5px 5px 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  box-shadow: black 2px 2px 2px;
  font-family: 'MinecraftiaRegular' ;
}

#generate-board:hover {
  box-shadow: black 0px 0px 0px;
}

#sound {
  width: 30px;
  height: 30px;
  background-color: lightcyan;
  display: inline-block;
  padding: 0px 5px 4px 5px;
}

#soundIcon {
  width:25px;
  height:19px;
  margin-left: 2px;
  margin-top: 5px;
}



